/*_______________Propiedades menu-submenu________________*/




#header{
	margin: auto;                                          
	width: 500px;
	font-family: arial, Helvetica, sans-serif;
}

#capa2{
	z-index:0; 	                             /*z-index:0 tipo de capa*/

}
#capa1{
	z-index:1;                                        

}



.menu{
	position: relative;
	right: 400px;
	width: 1000px;
	max-width: 2500px;	
	margin: auto;
	font-family: Arial;	
	padding: 18px 25px;
	text-align: center;	

}

ul, ol{
	list-style: none;
}
.menu li a{
	background-color: #A577F5;
	color:#fff; 
	text-decoration: none;
	padding: 10px 15px;	
	display: block;
	width: 200px;
	height: 20px;
	border: solid 2px;

}
.menu li a:hover{
	background-color: #434343;
}
.menu>li{
	float: left;
}
.menu li ul{
	display: none;
	position: absolute;
	min-width: 140px;    
}
.menu li:hover > ul{
	display: block;	
}
.menu li ul li{
	position: relative;
}
.menu li ul li ul{
	right:-140px;
	top:0px;
}






/*_______________Propiedades imagen de fondo________________*/

body{
	background: url(imagenes/fondoWeb.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 400px 180px;
}


#fond{
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0px;
}

/*_______________Propiedades links de redes sociales________________*/


.facebook  {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 1100px;
}

.twitter {
	position: fixed;
	top: 250px;
	bottom: 0;
	right: 0;
	left: 1100px;
}

/*_______________Propiedadestxt_____________*/

h2{	
	color: #F02E19;
	text-align: center;
	text-shadow: 10px 10px 10px #000;
	position: relative;
    top: px;	
}
.wrapper{
	width: 700px;
	height: 1000px;
	background: rgb(0,0,0,.5);
	position: relative;
	top: 90px;
	left: 300px;
}

.main{
	position: absolute;
	top: 0;
	left: 75px;
	color: #fff;
}
p { 
	width: 550px;
	background: #A577F5;	
	border: 5px solid #000;
	font-family: "Miryad Pro";
}
aside{
	position: absolute;
	top: 450px;
	left: 75px;
	color: #fff;
}



footer {
	height: 25px;
	width:240px;
	background:#A577F5;
	border: 2px solid #000;

}


















/*_______________Propiedades de enlaces(tipo botones)________________


.enlace a{
	position:relative;
	right: -150px; 
	top: 50px;
	font-size: 30px;
	text-decoration: none;
	margin: 10px 20x;
	background: #A577F5;
	color: #fff;
	padding: 10px 20px;
	box-shadow: 0px 5px 0px #7B4788;  

	
}
.enlace a:link{}              						 efecto del enlace que ya se vicito
	

                                        efecto del enlace que ya se vicit
    

.enlace a:hover{                                           /*efecto del enlace al pasar el mouse
	box-shadow: 0px 2px 0px #7B4788;  


	}   

.enlace a:active{                                                 /*lo que sucede al enlace al clikear
	box-shadow:none; 
	}               

/*_______________Propiedades encabezado y cajas________________*/

