*{
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Cambria, Times, Georgia ;
	font-size: 15px;
	background-image: url("img/indice.jpg");
	}

/*_____________Propiedades Menu___________*/
#menu{
	margin:;
	width: 1000px;	
}

.logotipo{

	margin-left: 290px;

}



ul, ol{
	list-style: none;	
}
.menu li a{                            /*Menu pricipal*/
	background-color:#1A8ACF;
	width: 250px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font-family: Arial;
	padding: 5px 75px;
	display: block;
	border: solid 1px #fff;
	

}









/*_____________Propiedades body___________*/


header, .main, footer{
	background: #fff;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}



.main .articles{

	width: 68.5%;
	margin-right: 1.5%;
	float: left;
	margin-left: 160px;	
}
.main .articles article{
	padding: 20px;
	margin: 20px;
	background:#08A691;
	margin-bottom: 20px;
	border-radius: 20px;


}

.for-group{
	width: 250px;
}
h3{
	text-align: center;
}
button[type="submit"]{
	background: #7BC5F3;
	color: #fff;
}

footer{
	background: #DBE2E1;
	color: #000;
	clear: both;                      /*limpiar los float: left;  Salto de linea*/
	padding: 20px 0px;
	text-align: center;
	border-radius: 20px;
	font-family: 'Coming Soon', cursive;
	font-size: 15px;

}