*{
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Cambria, Times, Georgia ;
}




.logo{
	position: relative;
	top: 55px;
	left: 120px;
}


h2{

	position: relative;
	left: 175px;
	top: 90px;	

}

article p{
	padding: 20px;
	background: #E9E5E5;
	width: 500px;
	height: 180px;
	position: relative;
	left: 75px;
	top: 110px;
	border:1px solid #000;
	border-radius: 20px;


}

form{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:#E8F7F7;
	border-radius: 30px ;
	border: 1px solid #559F99;
	
	box-shadow: inset 0 0 40px #fff;
	position: relative;
	bottom: 280px;
	left: 720px;
	
	padding: 30px;
	 

	width: 350px;

}

.form-control{
	width: 20px;
	
	
	font-size: 15px;
	color: #559F99;
	font-weight: bold;
}

#enviar{	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,231,249,1)), color-stop(40%,rgba(67,208,239,1)), color-stop(100%,rgba(8,166,145,1))); /* Chrome,Safari4+ */
	background: rgb(159,231,249); /* Old browsers */
	height: 35px;
	margin:40px 0px 10px 45px;  /*arriba, derecha, abajo, izquierda*/
	width: 100px;
 	
 	font-size: 15px;
 	font-weight: normal;
    background: -moz-linear-gradient(top,  rgba(159,231,249,1) 0%, rgba(67,208,239,1) 40%, rgba(8,166,145,1) 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* IE10+ */
    background: -o-linear-gradient(top,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fe7f9', endColorstr='#08a691',GradientType=0 ); /* IE6-9 */
 -moz-border-radius: 3px;
 -moz-box-shadow: 0px 2px 0px #067263;
 -webkit-border-radius: 3px;
 -webkit-box-shadow: 0px 2px 0px #067263;
 border-radius: 8px;
 border: solid 1px #232323;
 box-shadow: 0px 2px 0px #067263;
 margin-left: 90px;

}
#enviar:hover{
	background: #12C5AD;
}

#enviar:active{
	background: rgb(8,166,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(8,166,145,1) 0%, rgba(67,208,239,1) 60%, rgba(159,231,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,166,145,1)), color-stop(60%,rgba(67,208,239,1)), color-stop(100%,rgba(159,231,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a691', endColorstr='#9fe7f9',GradientType=0 ); /* IE6-9 */

}





label{
	color: #08A691;
	margin: 10px 0px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;

}