*{
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Cambria, Times, Georgia ;
	
}



body {
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
form{
	width: 460px;
	border: 1px solid #559F99;
	
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	box-shadow: inset 0 0 40px #fff;
	margin:100px auto;
	padding: 30px;
	background-color:#E8F7F7;

}

.form-control{
	
	text-align: center;
	
	font-size: 30px;
	color: #559F99;
	font-weight: bold;
}

form #btnRegistro{
	width: 135px;
	margin:40px 0px 10px 45px;  /*arriba, derecha, abajo, izquierda*/
	height: 35px;
	

	background: rgb(159,231,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(159,231,249,1) 0%, rgba(67,208,239,1) 40%, rgba(8,166,145,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,231,249,1)), color-stop(40%,rgba(67,208,239,1)), color-stop(100%,rgba(8,166,145,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(159,231,249,1) 0%,rgba(67,208,239,1) 40%,rgba(8,166,145,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fe7f9', endColorstr='#08a691',GradientType=0 ); /* IE6-9 */

 border: solid 1px #232323;
 box-shadow: 0px 2px 0px #067263;
 -moz-box-shadow: 0px 2px 0px #067263;
 -webkit-box-shadow: 0px 2px 0px #067263;

 border-radius: 8px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;


 	
 	font-weight: normal;
 	font-size: 15px;

}


form #btnRegistro:hover{
	background: #12C5AD;
}

form #btnRegistro:active{
	background: rgb(8,166,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(8,166,145,1) 0%, rgba(67,208,239,1) 60%, rgba(159,231,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,166,145,1)), color-stop(60%,rgba(67,208,239,1)), color-stop(100%,rgba(159,231,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(8,166,145,1) 0%,rgba(67,208,239,1) 60%,rgba(159,231,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a691', endColorstr='#9fe7f9',GradientType=0 ); /* IE6-9 */

}


label{
	color: #08A691;
	margin: 10px 0px;
	margin-left: 147px;
	font-family: 'Amatic SC', 'Times New Roman' cursive;
	font-size: 30px;

}