*{
	background-image: url("img/indice.jpg");
	font-family: "Times New Roman", Cambria, Times, Georgia ;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	}

/*_____________Propiedades Menu___________*/

.logotipo{
	margin-left: 280.5px;
}

nav.navbar {
    
    
    border-radius: 30px;
    margin: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,ffffff+39,ededed+74,cecece+100 */
background: rgb(206,206,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(255,255,255,1) 39%, rgba(237,237,237,1) 74%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(39%,rgba(255,255,255,1)), color-stop(74%,rgba(237,237,237,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

	
}


 a{
	color: white;
}







/*_____________Propiedades body___________*/


header, .main, footer{
	background: #fff;
	margin: 20px auto;
	max-width: 1000px;
	width: 90%;
}



.main .articles{

	float: left;
	margin-left: 160px;	
	margin-right: 1.5%;
	width: 68.5%;
}
.main .articles article{
	padding: 18px;
	margin: 20px;
	
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18af94+0,fcfcfc+64&amp;0.19+0,0.69+65 */
background: -moz-linear-gradient(top,  rgba(24,175,148,0.19) 0%, rgba(252,252,252,0.68) 64%, rgba(252,252,252,0.69) 65%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,175,148,0.19)), color-stop(64%,rgba(252,252,252,0.68)), color-stop(65%,rgba(252,252,252,0.69))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(24,175,148,0.19) 0%,rgba(252,252,252,0.68) 64%,rgba(252,252,252,0.69) 65%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(24,175,148,0.19) 0%,rgba(252,252,252,0.68) 64%,rgba(252,252,252,0.69) 65%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(24,175,148,0.19) 0%,rgba(252,252,252,0.68) 64%,rgba(252,252,252,0.69) 65%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(24,175,148,0.19) 0%,rgba(252,252,252,0.68) 64%,rgba(252,252,252,0.69) 65%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3018af94', endColorstr='#b0fcfcfc',GradientType=0 ); /* IE6-9 */



}

.for-group{
	width: 250px;
}
h2{
	
	
	
		color: #ccc;
		margin-left: 154.5px;
	border-radius: 8px;
	text-align: center;
	width: 50%;
	
}
button[type="submit"]{
	background: #7BC5F3;
	color: #fff;
}

footer{
	
	
	border-radius:  20px;
	
	clear: both;                      /*limpiar los float: left;  Salto de linea*/
	color: #000;
	font-family: 'Coming Soon', cursive;
	font-size: 12px;
	padding: 20px 0px;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,ffffff+39,ededed+74,cecece+100 */
background: rgb(206,206,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(255,255,255,1) 39%, rgba(237,237,237,1) 74%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(39%,rgba(255,255,255,1)), color-stop(74%,rgba(237,237,237,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 74%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

}
